@model MediaCollection.Models.PodcastEpisodeModels.PodcastEpisodeDetailViewModel
@inject SignInManager<MediaCollection.Domain.MediaCollectionUser> signInManager

<strong><em>@Model.Title</em></strong>

<div id="podcast-div"></div>

@if (signInManager.IsSignedIn(User) && !Model.Reviews.Any(review => review.User == User.Identity.Name))
{
    <partial name="ReviewForm" model="@(new ReviewFormViewModel { Id = Model.Id, ReviewType = nameof(MediaCollection.Domain.PodcastEpisode) })" />
}

<script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
<script>
    SC.initialize({
        client_id: '@DotNetEnv.Env.GetString("SOUNDCLOUD_API_KEY")'
    });

    var track_url = '@Model.Link';
    SC.oEmbed(track_url, { auto_play: true }).then(function (oEmbed) {
        console.log('oEmbed response: ', oEmbed);
        /**/
        let div = document.getElementById('podcast-div');
        div.innerHTML = oEmbed.html;;
    /**/
});
        

</script>


<strong>Reviews</strong>
@if (Model.Reviews == null || !Model.Reviews.Any())
{
    <p><em>No reviews available.</em></p>
}
else
{
    @foreach (var review in Model.Reviews)
    {
        if (review.Approved)
        {

            @if (review.User == User.Identity.Name)
            {
                <div id="user-review">
                    <strong>@review.User</strong><br />
                    <em>@review.Score</em>
                    <p>@review.Description</p>

                    <button class="btn btn-secondary"
                            id="edit-button">
                        Edit
                    </button>
                </div>

                <div class="hidden" id="user-review-form">
                    <partial name="../Shared/_EditReviewForm" model="@(new ReviewFormViewModel {
              Id = Model.Id, ReviewType = nameof(MediaCollection.Domain.PodcastEpisode),
              NewReviewScore = review.Score,
              NewReview = review.Description,
                })" />
                </div>
            }
            else
            {
                <div>
                    <strong>@review.User</strong><br />
                    <em>@review.Score</em>
                    <p>@review.Description</p>
                </div>
            }
        }
        else if (User.IsInRole("Admin") && !review.Approved)
        {
            <div>
                <strong>@review.User</strong><br />
                <em>@review.Score</em>
                <p>@review.Description</p>
                <a asp-controller="Review"
                   asp-action="ApprovePodcastEpisodeReview"
                   asp-route-reviewId="@review.Id"
                   asp-route-podcastEpisodeId="@Model.Id"
                   class="btn btn-secondary">Approve Review</a>
            </div>
        }
    }
}

<script>
    debugger;
    const editButton = document.getElementById('edit-button');
    const review = document.getElementById('user-review');
    const reviewForm = document.getElementById('user-review-form');

    editButton.addEventListener('click', () => {
        review.classList.toggle('hidden');
        reviewForm.classList.toggle('hidden');
    })
</script>

@if (Model.AlreadyReviewed)
{
    <script>

        alert("You already reviewed this item");

    </script>
}
