@model IEnumerable<MusicIndexViewModel>

<h2>Music</h2>
@if (Model == null || !Model.Any())
{
    <p><em>No music available.</em></p>
}
else
{
    <table cellpadding="5">
        <thead>
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Band</th>
                <th>Release Date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.SongTitle</td>
                <td>@item.AlbumTitle</td>
                <td>@item.BandName</td>
                <td>@(item.ReleaseDate?.ToShortDateString() ?? "No release date added")</td>
                <td>@item.Duration</td>
            </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Music" 
   asp-action="Create"
   class="btn btn-primary">Add Song</a>