@model MediaCollection.Models.PodcastModels.PodcastDetailViewModel

<strong>Title</strong>
<p>@Model.Name</p>

<strong>Description</strong>
<p>@Model.Description</p>

@if (Model.Episodes == null || !Model.Episodes.Any())
{
    <p><em>No songs available for this album</em></p>
}
else
{
    <table cellpadding="5" class="table-bordered">
        <thead>
            <tr>
                <th colspan="2">Episode title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var episode in Model.Episodes)
            {
                <tr>
                    <td>@episode.EpisodeName</td>
                    <td >
                        <a asp-controller="PodcastEpisode"
                           asp-action="Detail"
                           asp-route-id="@episode.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="PodcastEpisode"
   asp-action="Create"
   asp-route-id="@Model.Id"
   class="btn btn-primary">Add Episode</a>