@model MusicIndexViewModel
@inject SignInManager<MediaCollection.Domain.MediaCollectionUser> signInManager

<partial name="_SongFilter.cshtml" model="@(new MediaCollection.Models.SongViewModels.SongFilterViewModel { 
    SelectedAlbum = 0,
    SelectedBand = 0,
    AlbumTitles = Model.AlbumTitles,
    BandNames = Model.BandNames
})"/>

<h2>Music</h2>
@if (Model.Songs == null || !Model.Songs.Any())
{
    <p><em>No music available.</em></p>
}
else
{
    <table cellpadding="5">
        <thead>
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Band</th>
                <th>Release Date</th>
                <th colspan="3">Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Songs)
            {
                <tr>
                    @if (!item.Hidden)
                    {

                        <td>
                            <a asp-controller="Song"
                               asp-action="Detail"
                               asp-route-id="@item.Id">@item.SongTitle</a>
                        </td>
                        <td>
                            @if (item.AlbumId.HasValue)
                            {
                                <a asp-controller="Album"
                                   asp-action="Detail"
                                   asp-route-id="@item.AlbumId">@item.AlbumTitle</a>
                            }
                            else
                            {
                                Html.Raw("No album available");
                            }
                        </td>
                        <td>@item.BandName</td>
                        <td>@(item.ReleaseDate?.ToShortDateString() ?? "No release date added")</td>
                        <td>@item.Duration</td>
                        <td>
                            @if (signInManager.IsSignedIn(User))
                            {
                                <a asp-controller="Song"
                                   asp-action="Edit"
                                   asp-route-id="@item.Id"
                                   class="btn btn-secondary">Edit</a>
                                <a asp-controller="Song"
                                   asp-action="Delete"
                                   asp-route-id="@item.Id"
                                   class="btn btn-secondary">Delete</a>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Add to playlist
                                    </button>
                                    <div class="dropdown-menu">
                                        @foreach (var pl in Model.PlayLists)
                                        {
                                            <a class="dropdown-item"
                                               asp-controller="Playlist"
                                               asp-action="AddSong"
                                               asp-route-songId="@item.Id"
                                               asp-route-playlistId="@pl.Id">@pl.Name</a>
                                        }
                                    </div>
                                </div>
                            }
                        </td>
                    }
                    else
                    {
                        <td colspan="6">This item is hidden.</td>
                    }

                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Song"
                               asp-action="ToggleHide"
                               asp-route-id="@item.Id"
                               class="btn btn-secondary">Hide</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Song"
   asp-action="Create"
   class="btn btn-primary">Add Song</a>